@import url(../vendor/normalize.css);


@import url(../blocks/root/root.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);




